.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  margin: 16px;
}

.submarines {
  border-right: 1px solid black;
}

.box {
  text-align: center;
  padding: 8px;
}

.unassignedTorpedoes,
.actions {
  grid-column: 1 / -1;
  border-top: 1px solid black;
}
